<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js-3 Bangla Tutorial</title>
    <link rel="stylesheet" href="style.css" />
    <script src="vue.global.js"></script>
</head>
<body>
    <header>Vue Js-3 Bangla Tutorial </header>

    <div id="app">
      <h2>Watcher</h2><hr>
      <input type="text" placeholder="enter mobile number"
      v-model="mobile">
      <hr>
      <input type="text" placeholder="first name"
      v-model="name.firstName">
      <input type="text" placeholder="last name"
      v-model="name.lastName">
     <br>
     <p>{{name.firstName}}  {{name.lastName}}</p>
    </div>

    <script src="app.js"></script>
</body>
</html>