<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js-3 Bangla Tutorial</title>
    <link rel="stylesheet" href="style.css" />
    <script src="vue.global.js"></script>
</head>
<body>
    <header>Vue Js-3 Bangla Tutorial </header>

    <div id="app">
     
       <h3>Skills Add</h3> 
       <input type="text" v-model="newSkil">
       <button @click="skillAdd">Add Skill</button>
       <ul>
        <li v-for="(l,i) in skills" @click="delSkill(i)">
            {{i+1}} {{l}}
        </li>
       </ul>
       <hr>
       <input type="text" v-model="newSkilObj.name">
       <button @click="skillAddObj">Add Skill Obj</button>
       <ul>
        <li v-for="(sklObj,i) in skillObj" @click="delSkillObj(i)" :key="sklObj.name">
          <p>
            {{i+1}} {{sklObj.name}} ({{sklObj.age}})
            <br>
            <input type="text" @click.stop>
          </p> 
           
        </li>
       </ul>
    </div>

    <script src="app.js"></script>
</body>
</html>